* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Resturangens css */

#gridwrapper_resturang {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 82px 1fr 600px 1fr;

    grid-template-areas: 
    "he"
    "na"
    "ma"
    "fo";
}

#r_header {
    grid-area: he;
    background-color: green;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 82px;
}

#r_logo {
    width: auto;
    height: 80px;
}

#r_nav {
    grid-area: na;
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
}

#r_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;

}

a {
    color: blue;
}

a:visited {
    color: blue;
}

.r_links {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}

#r_main {
    grid-area: ma;
    display: grid;
    grid-template-columns: 700px 135px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "s1 s1 as"
    "s2 s2 as"
    "s2 s2 as";


    padding: 10px;
    background-image: url(../img/rsz_mat_backrund_2.jpg);
    width: auto;
    height: 600px;
}

#r_section_1 {
    grid-area: s1;
    background-color: white;
    margin: 20px;
    height: 175px;
}

#r_section_2 {
    grid-area: s2;
    background-color: white;
    margin: 20px;
    height: 270px;
}

aside {
    grid-area: as;
    background-color: white;
    margin: 10px;
    height: 320px;
}

#r_footer {
    grid-area: fo;
    background-color: red;
}

/* Menyns css */

#m_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 900px;

    grid-template-areas: 
    "mhe"
    "mna"
    "mma";
}

#m_header {
    grid-area: mhe;
    font-size: larger;
    background-color: red;
    display: flex;
    text-align: center;
    justify-content: center;
}

#m_nav {
    grid-area: mna;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    color: blue;
    text-decoration: none;
}

#m_main {
    grid-area: mma;
    background-color:  green;
    padding: 50px;

    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 220px 200px 220px 200px;
    
    grid-template-areas: 
    "ms01 ms02 ms03"
    "ms04 ms05 ms06"
    "ms07 ms08 ms09"
    "ms10 ms11 ms12";
}

.bilder {
    height: 200px;
    width: auto;
    padding: 10px;
    display: block;
}

.m_section {
    font-size: 19px;
}

#bild_1{
    grid-area: ms01;
    
}

#bild_2{
    grid-area: ms02;
}

#bild_3{
    grid-area: ms03;
}

#m_section04{
    grid-area: ms04;
}

#m_section05{
    grid-area: ms05;
}

#m_section06{
    grid-area: ms06;
}

#bild_4{
    grid-area: ms07;
}

#bild_5{
    grid-area: ms08;
}

#bild_6{
    grid-area: ms09;
}

#m_section10{
    grid-area: ms10;
}

#m_section11{
    grid-area: ms11;
}

#m_section12{
    grid-area: ms12;
}

/* leverantörens css */

#l_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 550px 1fr;

    grid-template-areas: 
    "lhe"
    "lma"
    "lfo";
}

#l_header{
    grid-area: lhe;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#l_main{
    grid-area: lma;
    background-color: chartreuse;
    padding: 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "mse1"
    "mse2";
}

#l_section1{
    grid-area: mse1;
    padding: 10px;
}

#l_section2{
    grid-area: mse2;
    padding: 10px;
}

#l_footer{
    grid-area: lfo;
    background-color: cornflowerblue;
}

#cow_pic{
    height: 200px;
    width: auto;
    padding: 5px;
}